.greeting__title {
  font-size: 34px;
}

.greeting__button {
  display: block;
  margin: 10px auto;
  padding: 5px;

  background-color: coral;
  border-radius: 5px;
  color: forest;
  cursor: pointer;
}

.greeting__button:hover {
  background-color: #aaac4e;
}
